[2016-09-30 21:07] betatim opened #1 "Locations"
A thread to collect information on locations/rooms/hosts.

Places I have been to for meetups:

* [Liip](https://www.liip.ch/en)
* [Zuehlke](https://www.zuehlke.com/ch/en/)
* [Stamford](http://www.thestamfordgroup.com/)
* [Google](https://www.google.com/maps/place/Google/@47.3655818,8.522611,17z/)
* ETH

[2016-09-30 21:08] betatim opened #2 "Topics for talks"
Is there a topic you always wanted to hear about? Post here.

Is there a speaker you always wanted to hear talk? Post here.

[2016-10-03 12:24] betatim opened #3 "Scheduling the meetup"
How often and on which day should the meetup take place?

I would suggest: Tuesday in the second week of each month

Other events we should avoid (please suggest more if you can think of them):

* PyZurich (first Tuesday of the month)
* Machine learning meetup (~last Thursday of the month)
* R meetup (irregular? ~every 2months?)

Feel free to make suggestions, etc

[2016-10-03 16:31] spMohanty opened #4 "CrowdAI @ PyData-Zurich"
If theres scope for round table discussions, would love to discuss whats the best way to create resources to help people get started with Data Science (by stripping out the scary technicalities like in the sklearn/tflearn-approach or help them instead develop an intuition behind these approaches or both).

And how to convince new learners to propagate the knowledge by creating more learning conten

[2016-10-04 09:44] betatim commented on #4
I'm not sure what exactly you'd want to present/talk about ;)

There is already a lot of great content out there for people to learn about both data science and machine-learning. Not sure more content is needed.

Status: confused.com

[2016-10-05 10:01] betatim commented on #1
(added RedHat)

[2016-10-05 10:02] betatim commented on #3
Probably a good idea to have it 2weeks after PyZurich, so third week each month.

[2016-10-05 10:04] betatim opened #5 "Meetup #1"
All things related to making the first meetup happen.

Topics: TBD

Location: TBD

Date: 15th or 22nd November (?)

[2016-10-12 15:05] betatim opened #6 "Meetup format"
Thinking about the format and how to have people stay for the after for the networking bit.

@abbeywaldron suggested splitting the talks. One at the start, then one hour break, then another talk.

Thoughts?

[2016-10-19 17:18] #4 closed

[2016-10-19 17:22] TitusCornelius commented on #6
I think that beer and snacks(/pizza if sponsored) is enough for those that want to socialize, for which in experience of Jaime and I there is usually plenty interest.

I guess it would be unfair to those that need to get back to kid and wife or whatever if they would be forced to stay longer than necessary for just seeing a talk that might deeply interest them.

I am sure that there will always be

[2016-10-19 17:27] TitusCornelius commented on #6
Also, regarding the topic.. I think we should see from time to time.. This time for our meetup in early November, we already have two great presenters and with a small talk and socializing after, this will already fill up the whole evening.

Regarding future meetups, Jaime and I were discussing at our lunch that we could vary the format from time to time (also based on availability of speakers):

[2016-10-19 17:34] TitusCornelius commented on #4
hey SpMohanty, we appreciate your spirit of participation!

As I see it, this thread does not lead yet to any constructive next steps that we can actually execute right now. If you have any more concrete suggestions for speakers or a (very) specific topic, please post it in the 'topics or talks'. That's also why I had to close this issue, as otherwise it would clutter our issues section even thoug

[2016-10-19 17:44] TitusCornelius commented on #2
Our first two topics will be:

on deep learning hardware and libraries, what you need to know to get serious about deep learning

on becoming an open source developer

there will be more info posted soon in the meetup group. The event is previsioned to happen sometime in early November and we still need a room.

[2016-10-19 17:46] TitusCornelius commented on #5
Our first two topics will be:

on deep learning hardware and libraries, what you need to know to get serious about deep learning

on becoming an open source developer

there will be more info posted soon in the meetup group. The event is previsioned to happen sometime in early November and we still need a room.

**We really need to focus on finding a room now! Any help greatly appreciated**

[2016-10-19 17:48] TitusCornelius commented on #3
I agree that the third week each month would be optimal.

Definitely, we should try to have it monthly.

For December, we should probably aim for early in the month to avoid clashes with christmas duties/stress one might have.

For November, we might want to remain flexible about date, in order to have a higher chance of finding a good location

[2016-10-19 17:56] TitusCornelius commented on #1
[ImpactHub](https://zurich.impacthub.ch/rooms/):
The [Bogen D](https://zurich.impacthub.ch/space/bogen_d/) offers 80 seats and a capacity of up to a 100 persons.. Sounds like a great option. I will contact them..

They also offer rooms for workshops, if that is something that we might want to do in the future.

[2016-10-19 17:58] TitusCornelius commented on #1
@jaimefrio: Jaime is checking out if we can get a room with Google.. he is not optimistic but will get back to us this week

[2016-10-20 05:45] betatim commented on #6
Having non-talk meetups is a cool idea!

Not sure if we should make the default 2x45min. That is an awful long time to listen (and also intimidating to prepare, as in I am not sure I would personally feel like I have time to prepare a 45min show). How about 2x20min plus 10min questions (or more) as the default?

[2016-10-20 05:46] betatim commented on #6
Another idea could be having sprints, so instead of bringing your (random) problem we get together and sprint on a certain topic (for which we somehow obtain an expert 😄 ) to guide us.

[2016-10-20 05:49] betatim commented on #5
I updated the top post with your comments. Should we already create a new event on the meetup group with this information? Not sure what the meetup etiquette is on this.

[2016-10-20 05:55] betatim commented on #4
I'd be Ok with having a separate thread for topics/suggestions that are more speculative (and confine the discussion of that to that thread) instead of having it all in #2. We can tag them so that they are easy to find/ignore.

Closing issues to reduce clutter seems to be a delicate thing, at least in my experience it varies massively from project to project. My two cents: I like having things ope

[2016-10-21 09:44] TitusCornelius commented on #5
yes, I will announce the first meetup today.. From what I saw in other groups, it is quite common to post a meetup without a location and even a date. It seems quite common that the group participates in determining these.

[2016-10-24 15:48] betatim commented on #5
The power of twitter: https://twitter.com/odi/status/790564177823825921 @metaodi 🚀

[2016-10-24 15:55] betatim commented on #5
@TitusCornelius does Tim D have github? Would be good to chat with the speakers about talk length. My vote would go for 20(talking)+10(questions) each. What do you guys think?

[2016-10-24 16:18] uweschmitt commented on #5
Maybe a colleague of mine and I can organize a room at ETH.... I'll know more tomorrow.

[2016-10-24 17:17] metaodi commented on #5
@betatim I could offer the Arena at Liip on November 9. I made a tentative reservation of the room. Let me know if you want it. Or if you want a specific date, I can check again.

[2016-10-24 18:12] betatim commented on #5
Awesome. 9 November sounds good to me. We probably need to run some kind of iterative algorithm between room, speakers etc to converge. Next iteration: speakers :)

[2016-10-25 08:09] aktion-hip commented on #5
I could try to make a reservation for a nice room in the ETH main building, for Wednesday, 9. Nov. 19:30 to 22:00. It has room for 50 places.
If more places are needed, I could reserve a lecture room (160 places).
(PS: I’m the collegue @uweschmitt mentioned.)

[2016-10-25 18:49] TitusCornelius commented on #5
Thanks everybody for all the support!

most important thing is to have a room in the first place, but it would be cool to have it so that people would want to stick around and that we could offer beers.

@metaodi how many people could fit in that room and could people stay for a beer (that we organize)?

@aktion-hip Thanks so much for offering! This also sounds really good.. In the ETH building I

[2016-10-25 19:04] betatim commented on #5
@timdettmers does 9 November work for you?

[2016-10-25 19:05] betatim commented on #5
The room in the basement of Liip (if that is the room) is pretty big. Not sure about after party in terms of policy.

[2016-10-26 07:29] aktion-hip commented on #5
I agree that the Liip room is better suited for the first PyData ZRH meetup, especially if it comes to build up the community.
The ETH main building would be good for presentations before a bigger audience.

[2016-10-26 15:39] TitusCornelius commented on #5
@betatim Tim Dettmers told me that 9. November would work for him..

On Tue, Oct 25, 2016 at 9:10 PM, Stefan Oderbolz <notifications@github.com>
wrote:

[2016-10-26 17:33] betatim opened #7 "Meetup #2"
All things related to making the first meetup happen.

## Topics

* **Awesome Title**, by [Your Name-Here](https://example.com)
_This will be the best talk ever._
* **Awesome Title**, by [Your Name-Here](https://example.com)
_This will be the best talk ever._

## Location

TBD. Want to offer a place? Post in this issue.

## Date

Early December 2016, before the Christmas hectic starts.

[2016-10-26 17:35] betatim commented on #5
Then I would suggest we lock in the date and place and speakers 📸.

@TitusCornelius will you update the meetup page? Can we/do we want to link to this issue from there?

[2016-10-26 17:36] betatim commented on #7
Should we already create a palceholder on meetup.com for the second meetup (and link it)? Gives people a place to volunteer themselves as speakers 😀

[2016-10-27 09:09] TimDettmers commented on #5
9 November is good; 20 minutes + 10 minutes for the talk sounds reasonable. I would still need to fledge out the library part of the talk. I would talk a bit about deep learning libraries, and since it is pydata, focus mainly on the Python ones. I might also talk about one or the other utility library for deep learning or in general machine learning. However, overall I would focus more heavily on

[2016-10-27 09:17] betatim commented on #5
Sounds perfect to me. Especially because I recently decided to treat myself to my first desktop machine in >5years in order to gain access to a good GPU 😄

My feeling is that you either already know `tf`/`keras` or not in which case you might not be soo interested in this talk -> assume on the software side people are interested in more advanced little tips and tricks and not hearing about what cr

[2016-10-27 09:36] betatim commented on #5
Does a 6.30pm start work for everyone?

[2016-10-27 15:35] TitusCornelius commented on #5
@betatim: Did you hear anything from Jaime. He didn't answer to my mails..

We need to know if he can make it on the proposed date..

On Thursday, October 27, 2016, Titus von Köller <titus@vonkoeller.com>
wrote:

[2016-10-27 15:41] betatim commented on #5
No news from him. I think we should make a move on announcing a firm time and place. If he can't make it we could try and find a replacement or move to drinks earlier/improvise. What do you think?

[2016-10-27 15:41] TitusCornelius commented on #5
works for me!

@betatim: Thanks for updating the room on meetup

On Thu, Oct 27, 2016 at 11:36 AM, Tim Head <notifications@github.com> wrote:

[2016-10-27 15:44] betatim commented on #5
Let's do it. Worst comes to the worst I will use the free time to tell people about https://twitter.com/sentinel2bot :)

[2016-10-27 15:50] TitusCornelius commented on #7
yes, if you could do that, it would be great.. otherwise, I might get to it
sometime this weekend..

Great work on finding a location for the first one :D

On Wed, Oct 26, 2016 at 7:36 PM, Tim Head <notifications@github.com> wrote:

[2016-10-27 21:23] TitusCornelius commented on #5
let's just go forward with it :)

On Thursday, October 27, 2016, Tim Head <notifications@github.com> wrote:

[2016-10-28 07:39] TitusCornelius commented on #5
I updated the date

On Thu, Oct 27, 2016 at 11:23 PM, Titus von Köller <titus@vonkoeller.com>
wrote:

[2016-11-01 14:16] betatim commented on #5
@TitusCornelius should we plan a trip to a supermarket or similar for the day of the meetup to acquire some drinks/nibbles?

[2016-11-01 20:33] TitusCornelius commented on #5
@betatim yes, we should.. I saw at the DevOps meetup, that they had two huge baguettes cut into many thin diagonal slices. I could make something like that and we get some chips, nachos and nuts? Any other suggestions? it looks like we won't be that many for starters, so I guess a keg of beer would be overkill for now.. We could get a palette of cheapish can beers.. that should do

Jaime contacted

[2016-11-02 07:29] betatim commented on #5
I will be in Zurich during the afternoon of the day of the meetup. Probably free after 4pm or 4.30pm. Does that work for you for a trip to a supermarket etc?

I will mention the meetup at the PyZurich meetup tomorrow in person and post a message on their board. I'll tweet about it again. Don't have any other smart ideas right now.

Good luck with the exam! 📚

[2016-11-09 22:22] betatim opened #8 "Sparschwein"
The issue to track accounting for the meetup.

Meetup #1 spent CHF65 on nibbles and drinks. Attendees generously donated CHF81.

We are CHF16 up for the next meetup.

[2016-11-09 22:23] betatim commented on #5
Thanks everyone for the help with making this happen.

We had a tidy around after everyone was out. The empty cans are in the bins below the stairs. Is there a better place for them next time?

[2016-11-11 06:05] jntme commented on #2
I'd really like to hear about:

- Beginner recommandations; Where do I have to start to dive into machine learning, data science? What is important to know? How do you keep yourself motivated?
- Hows the job market (maybe especially for zurich) for data science? (maybe @iwangulenko could tell us something about this?)

[2016-11-11 08:56] jaimefrio commented on #2
After the first meetup I was talking to [Severin Bühler](https://www.meetup.com/PyData-Zurich/members/204055918/), who I think is @Sebubu on github, and he mentioned a project he had been working on for a mushroom identification website, which I believe is [this one](http://mushreco.ml/en/).

I think it would be very cool if we invited him to explain us what goes on behind the scenes for one of th

[2016-11-11 12:53] Sebubu commented on #2
Thank you for mentioning @jaimefrio
I could do a talk either about [Mushreco](https://www.reddit.com/r/MachineLearning/comments/5axsw5/p_mushreco_a_transfer_learning_showcase_for/) or [OSMDeepOD](https://github.com/geometalab/OSMDeepOD).
Both are done with Keras and are based on a cnn.

[2016-11-11 17:22] betatim commented on #2
For purely selfish reasons I would vote OSMDeepOD 😄 Do you have time in early December aka speak at #7 ?

[2016-11-11 17:46] Sebubu commented on #2
Haha :)
Basically yes. I can definitely confirm if I know a exact date.

[2016-11-11 17:51] betatim commented on #7
@sebubu does the description of the talk work for you?

How does one of 6, 7, 8 December work for you guys? We will have to play the iteration game between speakers and location 😀

[2016-11-11 18:14] Sebubu commented on #7
@betatim If @jaimefrio accepts OSMDeepOD as topic then everything is fine :smile:

[2016-11-15 09:39] betatim commented on #7
@metaodi could we use the Arena again on 7 December please?

[2016-11-15 15:06] metaodi commented on #7
@betatim unfortunately the Arena is already used for another event on 7 December. Actually the only possible day in this week would be Friday.

[2016-11-15 17:02] betatim commented on #7
Ok, we'll shop around and get back to you. Friday doesn't seem ideal for a meetup.

[2016-11-21 09:47] uweschmitt commented on #8
I totally forgot to put some money into the can. Was too involved into discussions during beer drinking. But I promise to compensate this next time.

[2016-11-21 09:51] uweschmitt commented on #7
@aktion-hip What about organizing a room at ETH ?

[2016-11-21 10:41] TitusCornelius commented on #8
no problem :) looking forward to seeing you next time!

On Mon, Nov 21, 2016 at 10:47 AM, Uwe Schmitt <notifications@github.com>
wrote:

[2016-11-21 10:42] TitusCornelius commented on #7
I think we should announce the meetup and see from there.. I took a day to
find a room last time after the announcement.. Thanks all for taking the
initiative in organizing this one :)

On Mon, Nov 21, 2016 at 10:51 AM, Uwe Schmitt <notifications@github.com>
wrote:

[2016-11-21 10:57] aktion-hip commented on #7
I could try to book a room in the ETH Hauptgebäude on 6/7/8 of December either for max 50 persons or a lecture hall (up to 160 persons).
Should I give it a try?
If yes: What size would you prefer?

[2016-11-21 12:33] betatim commented on #7
Yes please! I think 50 people would be enough. The Python meetup will be on the 8th so maybe we strike that date as a possibility.

[2016-11-21 14:10] aktion-hip commented on #7
@betatim To be clear: by _strike_, you mean _eliminate_?

[2016-11-21 14:13] betatim commented on #7
Correct. Don't want to create competition between the python meetups 😀

[2016-11-21 15:21] betatim commented on #7
Rackspace got back to us https://twitter.com/Rackspace/status/800718020293382144 so we now have two "maybes" for rooms.

[2016-11-21 15:24] betatim commented on #7
Which reminds me, any interest to be the second speaker anyone?

[2016-11-21 15:42] betatim commented on #2
More talk ideas/keywords from notes I took at the first meetup:

* How to github
* Licenses (for code and/or data) (I think)
* Lightning talks 🌩
* multiprocessing with python
* static typing/type hints
* Cython/python and c++ 🏎
* Generators
* [dask](https://github.com/dask/dask)
* intro to scikit-learn
* intro to pandas

If any of this sounds appealing or you know something about it, let us know.

[2016-11-21 15:45] betatim commented on #2
@sajain might talk about word2vec or anomaly detection in a future meetup

[2016-11-21 15:46] betatim opened #10 "Meetup #3"
All things related to making the third meetup happen.

## Topics
- **Awesome Title**, by [Your Name-Here](https://example.com)
  _This will be the best talk ever._
- **Awesome Title**, by [Your Name-Here](https://example.com)
  _This will be the best talk ever._

## Location

TBD. Want to offer a place? Post in this issue.

## Date

Sometime early in January.

[2016-11-21 16:06] aktion-hip commented on #7
Good news concerning the room issue. I successfully booked the room HG E 41 on Di, 6. Dezember 2016, Zeit: 19-22 h.
The room is right in the corner of Rämistrasse/Karl-Schmid-Strasse (entrance level, see [ETH main building ground plan](http://www.rauminfo.ethz.ch/Rauminfo/grundrissplan.gif?region=Z&areal=Z&gebaeude=HG&geschoss=E&raumNr=41)).

[2016-11-21 19:56] TitusCornelius commented on #7
great news, thanks!!

On Mon, Nov 21, 2016 at 5:06 PM, Benno Luthiger <notifications@github.com>
wrote:

[2016-11-22 13:18] uweschmitt commented on #7
Organized a group account for wifi:

[2016-11-22 14:18] betatim opened #11 "Twitter and stuff"
@sebubu was asking why we don't have a twitter account. No good reason really. Does someone want to create one?

[2016-11-22 20:01] TitusCornelius commented on #7
great, thanks! That is very nice of you :)

On Tue, Nov 22, 2016 at 2:18 PM, Uwe Schmitt <notifications@github.com>
wrote:

[2016-11-22 20:33] uweschmitt commented on #7
Thank @aktion-hip, he suggested that, he is the ETH infrastructure pro :)

[2016-11-23 08:06] betatim commented on #7
Rumour has it the front door to the ETH building locks at 7pm? If yes we should post on the meetup page to let people know that they should arrive 5-10min early.

[2016-11-23 08:06] betatim commented on #7
Is there any restriction from ETH on us bringing drinks and nibbles like last time?

[2016-11-23 08:08] aktion-hip commented on #7
I'm gonna clarify this and will provide the proper information.

[2016-11-23 08:13] betatim commented on #10
Any opinions on when? How about 10 or 12 January 2017?

If we decide the date now we might be able to quickly (while we have their attention) find a room at Colab.

[2016-11-23 08:28] aktion-hip commented on #7
@betatim
Concerning the opening hours of the ETH main building, there’s no problem. The building is open from 6am to 10pm (see [Öffnungszeiten HG](https://www.ethz.ch/content/dam/ethz/associates/services/Service/betrieb/flyer_isc/hg_spez/hauptgebaeude-oeffnungszeiten-feiertage.pdf)).
Concerning the drinks and nibbles: this should be no problem, given the room is left in the same state it was befor

[2016-11-23 14:53] Sebubu commented on #10
@betatim 10, 12 January sounds good!

[2016-11-24 15:03] TitusCornelius commented on #10
I won't be in Zurich during January..

On Wed, Nov 23, 2016 at 3:53 PM, Severin Bühler <notifications@github.com>
wrote:

[2016-11-25 11:24] betatim commented on #10
[Sabine suggested a talk about Cassandra](https://www.meetup.com/PyData-Zurich/events/235752205/comments/473002752/?read=1&_af=event&_af_eid=235752205&itemTypeToken=COMMENT&https=on)

[2016-12-06 21:29] uweschmitt commented on #7
I have to cancel my talk, I'm sick. Could not prepare anything today and will not come tomorrow. How do we handle the room ?

Sorry for the late notice.

[2016-12-07 08:06] betatim commented on #7
Yes and it was super! :) Thanks for organising this.

[2016-12-07 08:10] uweschmitt commented on #7
How many came ?

[2016-12-07 08:19] aktion-hip commented on #7
I got the following complaint:
==
Sehr geehrter Herr Luthiger

Ich weiss nicht, ob ich bei Ihnen an der richtigen Adresse bin. Gemäss Raumbuchungsprogramm haben Sie gestern Abend als letzter den Raum HG E41 genutzt (ID WCMS, LMS & Mobile Applications).
Meine Mitarbeiter fanden heute Morgen eine grössere Anzahl leerer Bierdosen in dem Raum vor (siehe Foto unten).
Ich möchte Sie darauf hinweisen, da

[2016-12-07 09:02] uweschmitt commented on #7
@aktion-hip I'm very sorry. I promised to to take care and was to late to find somebody who could care about the room. See my post above.

[2016-12-07 09:09] aktion-hip commented on #7
@uweschmitt Yes, I noticed that and I don't blame you.

[2016-12-07 09:37] betatim commented on #7
:( Sorry about that. We made an effort to leave the room in the state we found it in etc but didn't realise about the no drinking/eating rules. Is there something we can do to help fix this?

[2016-12-07 09:55] aktion-hip commented on #7
@betatim Well, it’s a little bit unfortunate to leave these traces. But I see, the cause was that we (the ETH people) could not get it to this meetup and take our share of the responsibility.

However, I think there’s no need to overvalue this if it’s only two bags of empty beer cans (according to the photo I got). I guess I can handle this (i.e. iron it out ;-)).

[2016-12-07 09:57] uweschmitt commented on #7
😅

[2016-12-07 10:31] TitusCornelius commented on #7
it was only the two trashbags and we didn't know that it was not allowed to
eat and drink.. we left everything tidy and of course we would have acted
differently if we would have known.

I just went to check and take them away in case, but they re not there
anymore..

Sorry again and thanks for letting us have the room!

@uweschmitt hope you get well soon and sorry again for the hassle!

On Wed, D

[2016-12-07 10:40] aktion-hip commented on #7
@TitusCornelius

Yes, I missed to communicate that.
I just phoned to the ETH facility people and they confirmed that they have no further complaints.
Therefore, I hope we can do further meetups at the ETH if desired.

[2016-12-17 08:05] betatim commented on #10
I'd like to talk about probabilistic data structures (see top comment).

[2016-12-17 08:06] betatim commented on #10
@metaodi would Liip host us again? It seems like 26 Jan is becoming the preferred date.

[2016-12-20 11:38] betatim commented on #10
Two great speakers :) All we need now is a room.

[2017-01-04 16:33] uweschmitt commented on #10
Lets try ETH again. For beer and nibbles we still can go to the ETH cafeteria afterwards.

[2017-01-05 08:01] betatim commented on #10
Thanks!

[2017-01-09 08:11] betatim commented on #10
Any success @uweschmitt or @metaodi?

[2017-01-09 08:30] uweschmitt commented on #10
I applied for the room but did not receive a confimation yet.

[2017-01-09 14:27] betatim commented on #10
I'll keep asking around as well.

[2017-01-11 14:41] uweschmitt commented on #10
Confirmation might take another day..

[2017-01-13 07:29] uweschmitt commented on #10
I got the confirmation for HG E 41 in ETH main building 7 until 10 pm.

[2017-01-13 11:50] betatim commented on #10
Hurray! Every time I go to the HG I get lost and my attempts to find a good map only surfaced screenshots someone made for some conference. Is there no official source?

We should make sure we have one or two people who can access the internet in case speakers need internet. (My eduroam credentials have expired)

[2017-01-19 07:22] uweschmitt commented on #10
Wifi for the evening is organized.

[2017-01-19 09:27] betatim commented on #10
Will you be around this time?

[2017-01-19 09:29] betatim opened #13 "Meetup #4"
All things related to making the fourth meetup happen.

## Topics
- **Best talk ever**, by XXX
  _Another great talk!_

- **Best talk ever**, by XXX
  _Another great talk!_

Let us know if you want to give a talk.

## Location

To be done. Get in touch if  you'd like to host.

## Date

Second half of February.

[2017-01-19 11:28] uweschmitt commented on #10
Yes, I plan to come.

[2017-01-19 19:03] betatim opened #14 "Twitter themed meetup"
Would be interesting to have a meetup themed to "Doing interesting things with twitter data".

Do you know a speaker?

Ideas for topics or things you heard people are doing?

Some ideas:
* detecting events (like floods, earthquakes, ...) with tweets
* letting a chat bot loose on twitter (the famous Microsoft one that went wrong quickly)
* what can you learn about a population with geotagged tweets

[2017-02-01 09:27] TitusCornelius opened #15 "Lightning Talks meetup #4"
please submit proposals of lighting talks of your own, somebody that you would like from, or topics that can be treated in a short duration

[2017-02-01 09:40] TitusCornelius opened #16 "We need a room for meetup #4!"
Please help us find a room!

[2017-02-06 09:21] TitusCornelius commented on #16
we are meeting at Liip this time!

[2017-02-06 09:21] #16 closed

[2017-02-06 09:58] christophM commented on #15
I would like to give a talk about 'Explainable AI: How can you explain the decision made by a black box machine learning algorithm?'

[2017-02-08 14:52] TitusCornelius commented on #15
@christophM cool, go for it!

[2017-03-02 10:34] TitusCornelius opened #18 "15min talks and 5min lighting talks meetup #5"
please discuss here who could talk about what. Thanks :)

[2017-03-02 10:39] #15 closed

[2017-03-02 11:41] zamponotiropita commented on #18
As a Co-Contributor, I would like to take the opportunity to present the novel library JET:
"The JET library offers a simple way to make Python, and especially NumPy code run substantially faster. This is achieved by transparently converting Python/NumPy operations to performant C++."
https://github.com/wolfv/pyjet

[2017-03-02 13:05] betatim commented on #18
Looks interesting.

[2017-03-03 08:11] TitusCornelius commented on #18
Cool! Would you prefer a 5 or 15 minute slot?

On Thu, Mar 2, 2017 at 2:05 PM, Tim Head <notifications@github.com> wrote:

[2017-03-03 21:01] zamponotiropita commented on #18
I would go for the 15 minute slot!

[2017-03-08 08:43] jaimefrio opened #19 "Venues for the meetup"
I just found about this place, where we could get a room for 30+ people for 40 CHF:

https://www.atelier17a.ch/startseite/vermietung/tarife

Posting it here mostly so that I don't lose the link. Might be an option for a meetup, or if we ever want to organize a workshop.

[2017-03-08 11:11] TitusCornelius commented on #19
cool, looks good! good option for the times where we don't find any free
options :)

On Wed, Mar 8, 2017 at 9:44 AM, Jaime <notifications@github.com> wrote:

[2017-04-26 05:52] betatim opened #21 "May meetup"
When: first half of May
Where: TBD

Format: three times 20min talks about ...

* ... basic tools (pandas, jupyter and X??)
* ... (deep) learning with python
* ... different topic?

If we can arrange for three talks on a similar topic that would be great.

[2017-04-26 05:54] betatim commented on #21
cc @jakeret

[2017-05-03 11:27] gianba commented on #21
Hi, I'm a data scientist at Zühlke. If desired I could talk about how we setup analytics pipelines in data science projects. The talk would focus on how we employ Jupyter notebooks and regular python functions and classes to achieve reproducability, testability and allow for an operationalization of the models.
Any news on what date the event will take place?

cheers,
Gian-Marco

[2017-05-04 15:04] betatim commented on #21
Sounds interesting. So should we collect some talks on the topic of notebooks then?

Date is going to be tricky I think ... at least for me as Ill actually be at PyCon for a large part of May ...

[2017-05-07 08:47] jakeret commented on #21
Since there is no much time left till PyCon and I'm gone as well later this month, should we try to settle on a date? I propose **Tuesday 16th of May**.
I guess It's going to be hard, to find more talks on this particular topic. @betatim could you give a talk on Bayesion Optimiztation?

[2017-05-09 10:48] betatim commented on #21
I could talk about Bayesian optimisation all day long, but not by 16 May. Work and preparing for PyCon has taken over my life :(

[2017-06-07 18:45] jakeret commented on #21
Should we rename this issue and give it another try in june? ;-)

[2017-06-09 04:57] betatim commented on #21
👍

[2017-06-09 04:57] #21 closed

[2017-06-09 04:58] betatim opened #23 "June meetup"
When: in June
Where: TBD

Format: three times 20min talks about ...

* ... basic tools (pandas, jupyter and X??)
* ... jupyter notebooks
* ... different topic?

If we can arrange for three talks on a similar topic that would be great.

[2017-06-09 04:59] betatim commented on #21
-> #23

[2017-06-09 10:48] jakeret commented on #23
@gianba are you still interessted to talk about how to setup analytics pipelines in data science projects?

[2017-06-09 13:54] gianba commented on #23
Generally yes, but it will be pretty much impossible June/July.
Sorry for that.

[2017-06-23 17:13] betatim commented on #23
@jakeret can you email me or tweet me? I am struggling to find your email address :-(

[2017-07-11 08:25] jakeret opened #24 "July meetup"

[2017-07-17 12:11] jakeret commented on #24
@jherbel could be a potential speaker. He could talk about Approximate Bayesian Inference, which would fit nicely into the bayesian theme.

@betatim what about the location? ETH? Liip?

[2017-07-17 13:02] betatim commented on #24
I will ask @uweschmitt our contact at ETH.

[2017-07-17 13:02] betatim commented on #24
+ :100:  for a ABC/ABI talk

[2017-07-17 14:03] jherbel commented on #24
I will definitely give the talk, it will be about image simulations and abc in the context of cosmology @jakeret # @betatim

[2017-07-18 09:12] betatim commented on #24
We have a room 6pm at ETH's main building, room: F33.5. I will try and remember how to find the map that shows where the room is. Thanks @uweschmitt!

[2017-07-18 09:12] betatim commented on #24
We announce the meetup then yes?

[2017-07-18 09:17] uweschmitt commented on #24
Can we start at 7 pm instead 6 ? I booked the room for an earlier time than needed.

[2017-07-18 09:42] betatim commented on #24
Sure, 7pm also works for me.

[2017-07-18 10:54] jakeret commented on #24
Yes, lets make it official. @betatim  Do you do the announcement on meetup.com?

Would be cool if there is a third speaker willing to contribute

[2017-07-18 13:04] betatim commented on #24
I'll announce it on zee meetup.com. I'll include a "there is one more 15-20min slot left" in the announcement

[2017-07-18 13:17] betatim commented on #24
https://www.meetup.com/PyData-Zurich/events/241813543/ - scheduled. @jakeret if you take a quick look for spelling mistakes or edits and find nothing feel free to hit "announce" otherwise I will do it in a few hours.

[2017-07-26 06:36] jakeret commented on #24
@jherbel  would you mind sharing your slides? Could you send a Pull Request with the material for `Meetup 6`

[2017-07-26 06:47] jakeret opened #25 "August meetup"
Let's try to schedule a meetup towards the end of august. An **IPython/Jupyther notebook** themed session would be awesome.

- @fthoele could talk about the IPython Kernel internas
- @gianba do you have time to talk about operationalizing a data science pipeline including IPython notebooks?
- another awesome speaker

### Date proposal
- 29.08.2017

### Location
- TDB

[2017-07-26 08:30] jherbel commented on #24
I think I did it :stuck_out_tongue_winking_eye:

[2017-07-26 09:18] jakeret commented on #24
@betatim can you do the merge? I can't

[2017-07-26 10:06] fthoele commented on #25
August 29 is fine with me. To be more precise, I would be speaking about how kernels work in jupyter in general. A talk about "the" ipython kernel would be something for another time, I guess.

[2017-07-26 12:12] gianba commented on #25
Hi Joel,

29th of August is not possible for me. Sorry about that!

cheers
gm

2017-07-26 9:11 GMT+02:00 Joel Akeret <notifications@github.com>:

[2017-07-26 19:35] betatim commented on #25
Other jupyter notebook related talk ideas:

* favourite extension(s)
* how to create slides in notebooks (rise)
* other languages(!!) like julia or R via the notebook
* ipywidgets for fun and profit

Maybe it inspires someone.

[2017-08-16 09:45] weisro commented on #25
Hello Joel,

i am available for a short talk / show case about vispy.

Cheers,
Roman

[2017-08-16 09:50] jakeret commented on #25
Sweet! Looking forward

[2017-08-23 12:25] markusbaden commented on #2
Hi all, saw the call for talks via meet up mail a while back. Currently, I'm working on a project making use pandas, jupyter, dask in the context of risk management in a pension fund. Colleagues of the pension fund and me thought it might make for a good mini case study. Maybe 30 min talk along the lines of "Modern pension fund analytics using pandas, jupyter and dask". We would need some time to

[2017-08-23 14:41] jakeret opened #27 "September meetup"
Let's try to schedule a meetup towards the end of september:

- @markusbaden Modern pension fund analytics using pandas, jupyter and dask
- another awesome speaker

### Date
- xx.09.2017

### Location
- TDB

[2017-08-23 14:42] jakeret commented on #2
Sounds awesome! I opened a new issue (#27) to track the scheduling of the next meetup

[2017-08-23 17:38] wolfv commented on #27
I'd be happy to talk about `xtensor` / `xtensor-python` but I only have time at the beginning of October.

https://github.com/QuantStack/xtensor
https://github.com/QuantStack/xtensor-python

[2017-08-23 20:31] betatim opened #28 "October meetup"
# Topics

* `xtensor`

[2017-08-23 20:33] betatim commented on #28
What related libraries do we know that are similar to xtensor or would make a nice theme? Some thoughts:

* Pybind11
* cython
* numba
* something on profiling

are all kind of in the field of "faster numerical python"

[2017-08-23 20:34] betatim commented on #27
That would be exciting @wolfv, created a new issue #28 to keep the discussions nice and tidy.

[2017-08-24 06:35] jakeret commented on #28
Some updates on the Python JIT compilers would be interesting. Next to Numba we have
- [Pyjion](https://github.com/Microsoft/Pyjion)
- [Pyston](https://github.com/dropbox/pyston)
- GT-py

[2017-08-24 06:52] wolfv commented on #28
I am hoping to integrate xtensor with jet at some point :)

Also, there is pythran! https://github.com/serge-sans-paille/pythran

[2017-08-24 17:10] betatim commented on #28
So plenty of ideas ... we invite one from each project and have an "epic rap battle of JIT'ing python"? :rofl:

[2017-08-24 21:37] SylvainCorlay commented on #28
Serge Guelton is also coming over to pydata paris to talk about pythran in sep :)

[2017-08-30 07:56] jakeret commented on #25
@weisro , @fthoele thanks for the nice talks yesterday. Could you create a pull request (Meetup 7) with your slides to make them available to the others.

[2017-09-01 06:52] markusbaden commented on #27
the last week of September is not possible for me, so it's either Sep 18 to 22 or Oct 2 to 6.

[2017-09-02 21:46] wolfv commented on #27
If it would be Oct 2 - 6 it would actually also work well for me... if you would consider this :) Otherwise, also happy to come back at the end of Oct.

[2017-09-03 12:25] jakeret commented on #27
How about we merge the two meetups, say for Thursday the 5th of October?

[2017-09-05 14:22] jakeret commented on #27
@markusbaden I moved your talk to the october meetup and set the date for the 5th of October.

This means that there is not going to be a September meetup

[2017-09-05 14:23] jakeret commented on #28
@wolfv @markusbaden could you provide us a short outline of your talk (1-2 sentence on the content and about you) that we can post on the meetup page?

[2017-09-08 05:35] wolfv commented on #28
Hi @jakeret,

this is the long outline for the xtensor talk:

---

xtensor is a C++ template tensor algebra library supporting NumPy-style broadcasting and universal functions, aiming at feature parity with NumPy with a native feel. In this talk we will present the highlights of the expression system. Then we will show how xtensor can be used to create NumPy-aware Python extension modules with the

[2017-09-08 07:31] markusbaden commented on #27
perfect, let's continue the discussion in #28

[2017-09-08 09:30] markusbaden commented on #28
Just to avoid confusion, is the meetup Thursday Oct 5 (as in #27) or Friday Oct 6 (as above)?

[2017-09-08 14:37] jakeret commented on #28
It's the 5th. Apologize the confusion

[2017-09-09 11:46] markusbaden commented on #28
I just noticed an (ambitious) typo in my talk title. It should be Modern pension fund analytics using pandas, jupyter and dash.

So dash not dask, although we have been thinking about dask there is no real use case yet, as data is not really big :smiley:

[2017-09-10 08:10] #27 closed

[2017-09-10 08:13] betatim commented on #28
Asked ETH about hosting, waiting for reply.

[2017-09-10 08:19] betatim commented on #28
@kmader we briefly discussed a dash talk: would you be interested in giving a short (20min max) intro level talk about dash and how it compares to shiny?

To all speakers: can we aim at 20min of talk plus 10min of questions each? Maybe have more material in your slides for people to follow up later or selectively skip things based on what the audience is interested in/what level they are at for th

[2017-09-10 08:21] betatim commented on #28
Also: I am pretty excited about this meetup!

[2017-09-10 10:55] jakeret commented on #28
@betatim I created a draft for the meetup. Could you have a look?

[2017-09-10 11:38] betatim commented on #28
Should we make the lightning talks and the third talk an either or?

We could start having an intro slide advertising events. Put the slide up as a "screen saver" while people arrive. For this meetup:
* euroscipy hosting discussion: contact XXX
* Swiss Python Summit: early bird tickets and call for papers

[2017-09-11 07:56] markusbaden commented on #28
20 + 10 min works for me. If anybody wants to chime in on dash that would be great. We just started using it and would love to hear other people's experience. Even a discussion or lightning talk would be nice

[2017-09-11 09:43] betatim commented on #28
Room is booked: HG E22, @jakeret time to announce it?

[2017-09-11 16:56] wolfv commented on #28
awesome, 20 + 10 mins is perfect for me.

[2017-09-14 14:42] kmader commented on #28
sure a dash talk on 5 October works for me

[2017-09-14 17:06] jakeret commented on #28
Awesome! Could you post a 2 sentence abstract that I can put on the meetup
pag

On Sep 14, 2017 16:42, "Kevin Mader" <notifications@github.com> wrote:

[2017-09-28 19:43] jakeret commented on #28
@kmader are you still in for the talk? Can I announce you on the meetup page?
Do you have a short outline?

[2017-09-29 14:15] kmader commented on #28
@jakeret sure I can still give that talk. So @betatim's  idea for the title was
Where Shiny Shines and Dash Disappoints: How to get started with reactive web GUIs in python

- It will start off with a basic introduction in web GUIs and why the reactive design pattern is even useful.
- It will then go into the specifics of how Shiny for R works and how Dash in Python work.
- I can then talk about h

[2017-09-29 17:12] jakeret commented on #28
Sounds great. I copy&pasted it to the meetup site.
Looking forward

[2017-10-02 07:10] kmader opened #31 "Blockchain in Python"
Not sure how clickbait friendly this group is, but I really enjoyed this article and project (https://hackernoon.com/learn-blockchains-by-building-one-117428612f46?gi=22fca9a00cda) and accompanying repository (https://github.com/dvf/blockchain) and I think having a tutorial on it could be interesting / potentially attract quite a few new people. Plus actually writing a bit of code goes a long way

[2017-10-02 08:02] betatim commented on #31
I'd be interested. Not having read the article I suspect we'd make this the exclusive topic of a meetup?

cc @d-simon

[2017-10-04 12:11] betatim commented on #28
Welcome slide: https://docs.google.com/presentation/d/1a81dypPkY5TEKkIUYm-FKG81NAAnJPerQ2a40QJuLkw/edit?usp=sharing collecting events and other things worth advertising. Feel free to add a small banner/note to the slide.

[2017-10-05 07:57] wolfv commented on #28
are you collecting slides and we present from one laptop?

[2017-10-05 08:26] jakeret commented on #28
Usually each speaker plug in his/her notebook. Typically, we ask the speakers to upload their slides after the talk to our GitHub repo

[2017-10-05 21:58] weisro commented on #28
Great talks, once again, and to who ever payed my unsupervised beer today:
big thanks, approach me on the next meetup for a revenge:)

Am 05.10.2017 10:26 schrieb "Joel Akeret" <notifications@github.com>:

[2017-10-06 06:03] betatim commented on #28
@markusbaden @wolfv @kmader could you add your slides/links to material to this repo in the folder `Meetup8/`?

Thanks everyone for the nice talks.

[2017-10-06 06:08] betatim commented on #31
I'd like to try out having a one hour meetup where we try and go through this as a group. Maybe for the December meetup as "Christmas special". Maybe have three speakers that work as a team instead of just one.

How could we organise it so that people who are new to blockchain and/or not super fit in python still get something out of it? Maybe we live code it between the three speakers, and people

[2017-10-06 08:04] jakeret commented on #28
big thanks, approach me on the next meetup for a revenge:)

I'll do ;-)

[2017-10-12 16:19] kmader commented on #31
I would also be willing to present, it also looks like we should be able to do some interactive demos with binder as long as we run everything on the local machine. I've adapted their example for kaggle so it runs the standard CURL commands to show how everything works (https://www.kaggle.com/kmader/slightly-more-advanced-blockchain/)

[2017-10-13 07:04] jakeret opened #33 "November meetup"
Let's try to schedule a meetup in november:

### Speakers (20min + 10min Q&A):
- awesome speaker A
- awesome speaker B
- awesome speaker C
- lightning talks

### Date
- xx.11.2017

### Location

- TDB

Have a room or something to talk about? Let us know!

[2017-10-13 11:08] wolfv commented on #31
@Leonidaz0r has some Blockchain experience at ETH.

[2017-10-14 10:53] markusbaden commented on #31
Would be interested too

[2017-10-14 16:16] betatim commented on #33
Had a conversation today about meetup topics and conclusion was: tell me the story of analysing some data using python! What tools did you use, how did you decide to do what you did and what did you find out? Along the lines of I worked on problem X, I happened to use pydata tools. As opposed to here is a tool you could use.

Resulted in a tweet: https://twitter.com/betatim/status/9191792864934502

[2017-10-16 15:32] jakeret commented on #33
Sounds nice! Would be cool if someone would engage on this

[2017-10-16 17:50] betatim commented on #33
Emailed the opendata Zurich guys, let's see what happens.

[2017-10-22 10:52] markusbaden opened #35 "Link to github from Meetup description?"
Just noticed that there is no link from the Meetup to the github repo (or I couldn't find one). I would suggest that we link to the MeetupN folder in the repo from the description of the corresponding Meetup page. For Meetup8 I posted a link in the comments.

[2017-11-04 12:29] sredford commented on #33
Perhaps we don't need speakers to have a meetup? It would be nice to meetup regardless, there might still be some lightning talks and we could find out more about each other / what we do with python&data / what kind of talks we would like to hear.

[2017-11-04 13:39] jakeret commented on #33
This is indeed true. @betatim and I are however considering to have a meetup early december. Wouldn't this be a bit to much, having two meetups so close to each other?

[2017-11-04 13:48] betatim commented on #33
I like the idea. We could even use this to prepare a bit for December's blockchain special.

Some dates: 16 or 23 Nov for meetup and see what happens. Then December 12th or 14th for the Christmas special. For me that would be Ok/not too close.

[2017-11-05 18:00] jakeret commented on #33
Ok let's do this. 16 nov and 12 dec works for me.
Wanna announce both?

On Nov 4, 2017 14:48, "Tim Head" <notifications@github.com> wrote:

[2017-11-06 10:40] betatim commented on #33
Sent an email to ETH to ask about a room.

[2017-11-16 07:39] betatim commented on #31
@kmader and others who would like to contribute to running this event: how do we get organised? We should announce this meetup soon, which means we need a bit of an idea who can make it from our side and what we plan on doing.

I would propose the following:

The meetup will be in the style of a tutorial. Some slides, some live coding, time for participants to code, slides, live coding, participan

[2017-11-16 08:23] jakeret commented on #31
Sounds like a good plan. Agree, we should announce that thing asap.

Three steps - three speakers (@betatim, @kmader, @markusbaden)?

We haven't settled on a date yet. betatim proposed some dates in an other discussion (#33). Unfortunately, I can't make it then.
How about the **Wed. 13. December**?
@betatim  could you ping ETH for a room as soon as we know the date?

[2017-11-16 10:47] TitusCornelius commented on #33
hey, I got a tip from a colleague that DigiComp, who are located close to
the train station, might be willing to host us for multiple future events
and provide snacks as well as drinks. I contacted them and will let you
know as soon as I hear back.

Do I understand that the 12.12. is our day of choice? Are there any other
options in case that this wouldn't work for them?

Am also working on some c

[2017-11-16 11:29] betatim commented on #33
14.12. as alternative? In my personal agenda all other dates are pretty full already.

To the rest: awesome!

[2017-11-16 11:31] betatim commented on #31
@TitusCornelius suggested he has a contact at DigiComp. Our ETH contact isn't at ETH for a while -> no room.

13.12. would also work for me as a date. To bring the discussion from #33 over here (so we stay on topic) I suggested 12.12. as preferred date, 14.12. as backup, but also fine with 13.12.

[2017-11-16 15:05] jakeret commented on #33
This is great news!

Same here. Can't make it on 14.12 :-(

[2017-11-17 13:18] markusbaden commented on #31
Happy to contribute as speaker or as helper. Worked through the original post and it's actually quite fun.

12.12, 13.12. And 14.12.  Work for me

[2017-11-17 15:57] betatim commented on #31
So should we make 13.12. the preferred date? @jakeret are you interested in being a helper/speaker/leader for this? If yes we'd have three people and can announce the meetup. If no then we should wait to announce until we have three. (We can announce and then swap someone afterwards, just want to avoid having only two people lead this session)

[2017-11-17 17:27] kmader commented on #31
13.12 works for me, I also have a few routers I could bring if we want to test things there or could probably run everything on EC2 nodes using repo2docker or something like that. If people pregister we could setup everything in advance

[2017-11-17 18:40] TitusCornelius commented on #31
I havent heard back yet, but let‘s announce asap with the program and the
location as TBD..

should know by Monday if it works out
On Fri, Nov 17, 2017 at 18:27 Kevin Mader <notifications@github.com> wrote:

[2017-11-17 18:42] TitusCornelius commented on #31
TBD only regarding location of course
On Fri, Nov 17, 2017 at 19:40 Titus von Köller <titus@vonkoeller.com> wrote:

[2017-11-17 19:30] TitusCornelius commented on #31
sounds amazing 😉 so sad I can’t come 😔🙁

On Fri, Nov 17, 2017 at 20:26 Joel Akeret <notifications@github.com> wrote:

[2017-11-18 08:21] betatim commented on #31
Some slight edits to the announcement. I think we should encourage people to bring their own laptop fully kitted out. 👍 to bringing wifi routers, but I would try and design it so we do not need the internet/wifi for a successful tutorial (more like cherry on top bonus).

[2017-11-18 08:32] betatim commented on #31
Should we be presumptuous and assume yy-uge interest -> limit sign ups? How to deal with those that say they will come but never update their RSVP? Should we instead say "We will lock the door once the room is (too) full, so be early if you want to be sure to get a seat"?

[2017-11-18 09:17] sredford commented on #31
X-max -> Xmas ? or is this a joke I don't get?

What will actually happen at the meetup is not clear to me from reading the announcement.

could be read as the speakers are demonstrating the block chain, while the audience watches.

What about:
**Xmas special: Build your own Blockchain**

Christmas is approaching and Santa has something very special for all the PyDataZuris in his sack! Always wond

[2017-11-18 09:24] jakeret commented on #31
This thing is gaining momentum. Perfect! 👍 I like @sredford 's adaptions.
@betatim  Do we expect a lot of people do show up, considering it's close to Christmas? For the August meetup I had set an upper limit on meetup.com and people then seemed to take the RSVP more seriously

[2017-11-18 09:33] jakeret commented on #31
I've created a draft on meetup.com. Should we publish it and update the location as soon as we know more?

[2017-11-20 06:17] betatim commented on #31
I'd wait to see if we get a location update from @TitusCornelius during the morning and then publish without/with one this afternoon??

Maybe I am over-thinking it with the RSVP.

[2017-11-20 15:01] TitusCornelius commented on #31
Hope to get an answer by tmr, guy seems to be busy..

On Mon, Nov 20, 2017 at 7:17 AM Tim Head <notifications@github.com> wrote:

[2017-11-20 15:53] TitusCornelius commented on #31
alright! CONFIRMED!

could someone put the meetup online? i'm in the middle of sth right now..

Hallo Titus

Sorry, bin grad voll Land unter, darum habe ich mich noch nicht gemeldet.

Ja am 13.12. sollte das klappen. Ihr könnt das MEetup bei uns machen.

Dann können wir da auch gleich über weitere Zusammenarbeit reden.
Location zum einbinden: https://www.digicomp.ch/standorte/zuerich
Kannst du uns

[2017-11-20 21:50] TitusCornelius commented on #31
all right, still got to it. SCHEDULED! good job everyone :D

On Mon, Nov 20, 2017 at 4:53 PM Titus von Köller <titus@vonkoeller.com>
wrote:

[2017-11-20 21:52] betatim commented on #31
Meetup scheduled and public.

[2017-11-21 07:39] jakeret commented on #31
And filling up really quickly 👍

[2017-11-21 08:25] TitusCornelius commented on #31
2 spots left, that was quick...

we should be strict about people canceling if they can‘t come, so that
people can slip in from the waiting list. Maybe we should send out a
message about that.

On Tue, Nov 21, 2017 at 08:39 Joel Akeret <notifications@github.com> wrote:

[2017-11-21 10:03] betatim commented on #31
I would make it "first come first seated" on the day. At least it is far too tedious to get people to actually cancel their RSVP, then print off a list, check names at the door, etc.

Also, how big is the room? :)

[2017-11-21 16:35] Sebubu commented on #31
I would prefer "first come first seated" too because there are always people which sign but don't show up.

The second reason is that it's already full after not even a day and I didn't get a place :grinning:

[2017-11-22 22:06] betatim commented on #31
@TitusCornelius could you put us (Tim, Joel) all in touch with Lorenz from Digicomp?

Thoughts on trying to increase the size of the room? I'd be -0 on more than 50 attendees as it will make it more of a lecture and less interactive if we get too far from 1 helper per 10 participants (by that math the ideal number would be 30)

[2017-11-23 07:06] jakeret commented on #31
I would also stick with the current number. If we look for a larger room there'll always be one who is not getting a seat and opting for an even larger room.

Based on the meetup experience there are always some signing up but not showing up. So I guess we will get close this ideal number

[2017-11-26 13:20] Sebubu commented on #31
Do you need another helper at the pydata blockchain special? I saw on meetup that you are worried about too few helpers. I know how a blockchain works and some people mingle I can program python pretty well.

[2017-11-29 06:09] Sebubu commented on #31
According to the almost non existing reaction, I guess no further help is needed?

[2017-11-29 06:47] betatim commented on #31
I'd take the lack of reaction as a positive: no one objects :)

[2017-11-29 07:06] betatim commented on #31
I'd take the lack of reaction as a positive: no one objects :)

To get the ball rolling [the beginning of slides](https://docs.google.com/presentation/d/1GaoGagHTQYcABOVAgY40T1SVCzFKpH6H_4T8jVZlnsU/edit?usp=sharing). Mostly followed the structure of [the article](https://hackernoon.com/learn-blockchains-by-building-one-117428612f46) for the moment. Each orange slide is meant as "you do something n

[2017-11-29 07:29] jakeret commented on #31
@Sebubu, sorry for not replying. Help is very welcome. I guess as soon as
we're preparing thing it will become much more clear where support is
needed.

Thanks Tim for bringing momentum into this thing!
I would suggest that we aim at an two hour session. Atm we have 5*10min of
coding session. This leaves plenty of time to explain things.
Any suggestion on how to split things up? Any preferences?

[2017-11-29 07:37] betatim commented on #31
I'd try and aim to be done in 90m, with some time left for people to play by themselves/questions. Also we will over run ... :)

I'd suggest we have one laptop setup and connected. Introduce all four helpers at the start, one of us drives the laptop, the other three circulate around the room to help people who get stuck. Then we swap driver after ~1/4 of the time?

[2017-11-29 18:34] Sebubu commented on #31
That's going to be a sportive event if we want to do it within 90min incl. coding.
How do we want to split up the talk?

[2017-11-29 21:24] betatim commented on #31
Add some breakpoints you like. I think that is something to do once we have a better feeling how much content there is to each slide. I'd also be fine with us just swapping "live" when we feel like it.

Sportlich ist gut! Keeps you on your toes.

[2017-11-29 21:25] betatim commented on #31
(The link tot he slides let's you edit them, so make use of that power.)

[2017-11-30 15:09] jakeret commented on #31
I've [adapted](https://github.com/jakeret/blockchain_pydatazrh) the original code such that the API is exposed in a swagger ui. If we push this to a cloud service we would have our first blockchain node with an ui.

[2017-11-30 22:23] betatim commented on #31
Are we confident enough that there will be working internet in the room for everyone? We should also check with the host if nodes on the network can reach each other (if we want to do "now connect to your neighbours node"). Often conference wifis are configured to let you connect out but not to other devices on the network.

---

@jakeret your idea is that people eventually all connect to the same

[2017-12-05 19:23] jakeret commented on #31
I'm about to push this to heroku. Should be online soon

Anyway, time is running. There are just a few days left for preparation. @kmader @markusbaden @betatim What is the overall status? Is there anything we should discuss / split up / delegate?

[2017-12-05 19:39] TitusCornelius commented on #31
@jakeret @betatim I forwarded you the email with the contact of Lorenz @
Digicomp Academy

On Tue, Dec 5, 2017 at 8:23 PM Joel Akeret <notifications@github.com> wrote:

[2017-12-06 13:08] jakeret commented on #31
@TitusCornelius thanks just saw it.

The app is on heroku: https://blockchain-pydatazrh.herokuapp.com/#/default

[2017-12-07 06:52] betatim commented on #31
I was working through the code yesterday to make some snippets to build up some of the ideas in part one (what is a chain, block, POW, etc). I will make a PR to your repo @jakeret to add some snippets tonight.

One thing that I didn't understand: why is the hash of the previous block not part of the POW calculation?

[2017-12-07 08:24] Sebubu commented on #31
I'm going to explain the consensus algorithm if nobody has already captured it.

[2017-12-07 08:47] Sebubu commented on #31
Hey guys,
@betatim and I were talking about a short pre-meetup of the helpers. We currently are all working on different parts of the presentation and the purpose of this pre-meetup is to ensure a consistent presentation and not 4 single presentations in a row which leave important parts out.

Proposal: Tuesday, 5pm, Hiltl Sihlpost

I please every helper to give a short answer if he can attend thi

[2017-12-07 15:30] betatim commented on #31
I have time for meeting up on Tuesday and think it would be pretty useful to get everything synced (and us looking good on Wednesday evening)

[2017-12-07 17:51] markusbaden commented on #31
:+1:

I can make it on Tuesday.

[2017-12-07 19:36] jakeret commented on #31
Yeah sounds good. I'm in as well.

I can do the first part, intro, setting the scene, big picture

[2017-12-07 21:22] kmader commented on #31
Tuesday works for me too, but the night of the meetup, I'll have to leave early, so if possible I'd do more of the intro stuff, otherwise I am perfectly ok with just helping with the slides

[2017-12-11 07:16] jakeret commented on #31
@kmader go ahead. It's fine with me if you do the intro

I just finished my few slides on the API

[2017-12-11 10:32] betatim commented on #31
Two things from my side:

* the hosts would prefer if we had an apero break earlier than 2h after starting. So we should design a nice natural break point into the work. ~60minutes in maybe? Maybe do the distributed part in the second half?

* I am stuck in London because of bad weather, currently I am on a flight that should get me to Zurich in time for our meeting on Tuesday but they have been c

[2017-12-11 10:37] betatim commented on #31
To get a decision back to the hosts as quickly as possible I will tell them that we will schedule a break after 60m unless someone speaks out here against it. I'll send the email this evening (after EOB)

[2017-12-12 12:43] betatim commented on #31
I will spend some time now working on the slides and material. @kmader added some links and comments to the slides (not sure if all of you get the notifications?). Following up on them I think we should use the time of the tutorial to build up a version of `blockchain.py` on people's laptops that they can run, fiddle with, join the global blockchain. IMHO Binder and notebooks would be nice because

[2017-12-12 17:23] jakeret opened #37 "Blockchain todos"
Todo @kmader @betatim @markusbaden @Sebubu

- [x] GitHub permission for jakeret
  - [x] move repo to pydatazrh

- [x] Slide to thank host

- [x] Slide with Links to Survey and GitHub
- [ ] Encourage people to press watch button

- [x] Slide for SPS promotion

- [x] Slide for recap after apero

- [ ] Slide for consensus

[2017-12-12 20:56] betatim commented on #37
https://camo.githubusercontent.com/5158e67c2323263463923effbbda29cda46e7a6c/68747470733a2f2f68656c702e6769746875622e636f6d2f6173736574732f696d616765732f68656c702f6e6f74696669636174696f6e732f776174636865725f7069636b65722e676966

link to a GIF showing how to use the watch button

[2017-12-12 21:31] betatim commented on #37
(added a "move repo to pydatazrh" todo)

[2017-12-13 07:50] markusbaden commented on #37
Which is the repo to use for the binder ready notebooks? This one https://github.com/jakeret/blockchain_pydatazrh?

[2017-12-13 08:05] jakeret commented on #37
Nope I just moved everything to: https://github.com/pydatazrh/blockchain_pydatazrh

[2017-12-13 08:45] betatim commented on #37
And I renamed it to https://github.com/pydatazrh/christmas_special_2017 (but the old link still works)

[2017-12-13 14:46] betatim commented on #31
https://github.com/pydatazrh/christmas_special_2017 link to the repo for tonight.

I was about to add a few challenges to each notebook for people to have something to guide them during the "now you do something" parts. However I'm starting to think that it is better if we reach the apero after say 53minutes than if we overrun to 70 or 75minutes. So I'd vote no challenges. I think with the extra k

[2017-12-13 23:30] betatim commented on #37
Feel free to re-open.

[2017-12-13 23:30] #37 closed

[2017-12-14 08:16] jakeret opened #38 "January / February meetup"
Let's try to schedule a meetup in January / February:

### Speakers (20min + 10min Q&A):
- awesome speaker A
- awesome speaker B
- awesome speaker C
- lightning talks

### Date
- xx.01.2018

### Location

- TDB

Have a room or something to talk about? Let us know!

[2017-12-15 09:04] #33 closed

[2017-12-15 09:05] betatim commented on #31
Thank you everyone for making this happen!

[2017-12-15 09:05] #31 closed

[2017-12-15 09:06] betatim commented on #38
What do people think about starting off the year with a social event instead of talks?

[2017-12-20 08:54] kmader commented on #31
As a last note, to really really get down to the 'heart' of bitcoin, [this](http://www.righto.com/2014/09/mining-bitcoin-with-pencil-and-paper.html) article brings you all the way down to pencil and paper

[2018-01-07 10:51] jakeret commented on #38
I like the idea of starting 2018 with a social event without talks. Could we find a sponsor/location where we get some drinks?

[2018-01-08 13:13] TitusCornelius commented on #38
Hasn't our new sponsor basically agreed to provide us with just that?

On Sun, Jan 7, 2018 at 11:51 AM Joel Akeret <notifications@github.com>
wrote:

[2018-01-08 13:23] betatim commented on #38
We could go to the bar we have been to after the ETH meetups?

Don't really know places in Zurich that would let you reserve a large-ish table :-/

[2018-01-08 14:56] betatim commented on #38
I think it is worth asking if they'd also host a meetup that doesn't involve any talks.

[2018-01-22 22:03] ucg8j opened #39 "Are these the full slides to the talk?"
https://github.com/pydatazrh/meetup/blob/master/Meetup8/Dash_Talk.pdf

Fascinating talk as a shiny and dash user, but I suspect these slides are truncated. Is it possible to get a full upload?

[2018-01-23 09:53] betatim commented on #39
I think the rest was live demo'ing, check out https://github.com/pydatazrh/meetup/tree/master/Meetup8#dash-info

[2018-01-23 09:57] ucg8j commented on #39
Ah cool, thanks @betatim and thanks to @kmader for sharing them.

[2018-01-23 14:16] betatim commented on #39
Closing for now. Feel free to reopen.

[2018-01-23 14:16] #39 closed

[2018-03-14 08:39] jakeret opened #40 "April Meetup"
Let's try to schedule a meetup towards the end of April:

### Speakers
- tbd
### Date
- Thursday, xx.04.2018

### Location
- tbd

[2018-03-14 08:41] jakeret commented on #40
@jherbel would you have time to tell us more about DL in cosmology?
@smurve could you give us an update on the current state of DL research?

[2018-03-14 08:47] jherbel commented on #40
@jakeret Yes :)

[2018-03-14 09:01] jakeret commented on #38
Should we attempt to do this in the current month?

[2018-03-14 09:38] smurve commented on #40
Hi, I could provide the following (pls. forgive my formal style)

Understanding Neural Networks: A Naive Overview

Abstract:

Neural networks have been used with great success in a growing number of tasks such as text classification, machine translation and image captioning. Despite their success, the intrinsic workings of neural networks are yet to be fully understood. Why does it work? What is a

[2018-04-27 08:57] jakeret commented on #40
Gentlemen, may I ask you to create a pull request for your slide of meetup9

[2018-05-30 17:49] TitusCornelius opened #42 "June meetup"
Dear PyDatonians,

we are looking to organize our next event around mid to end of June, maybe at latest early July.

We urgently need input and help in organizing some interesting speakers for us. I know everybody is crazy for machine learning,

but anything involving data and algorithms as well as their (hopefully interesting applications) would be a potentially cool additional insight into the d

[2018-05-30 17:54] TitusCornelius opened #43 "hackathon on generative music"
We are hoping to eventually host a hackathon and the topic of generative music using machine learning and/or evolutionary algorithms, possibly with the two competing in the forms of two teams, has been discussed.

This would be the thread for discussing anything related and giving input about resources, possible realistic tasks for the scope of a weekend, how to make it REALLY fun, and who wants/c

[2018-05-31 00:19] betatim commented on #42
I am giving a talk about mybinder.org at the Paris PyData meetup so I'd be happy to give a pre-/post-view of that talk in Zurich.

[2018-05-31 20:32] mrastan commented on #42
Unit8 gave an interesting talk during Machine Learning meetup in Lausanne a engineering from good - using deep learning to detect pneumonia on x-ray images. Let me know if you are interested...

[2018-06-05 07:36] lukaszbinden commented on #42
For a graduate semester project we did transfer learning experiments using the NIH chest X-rays dataset for predicting skeletal age on the Stanford medicine pediatric hand X-rays dataset. We could present that.

[2018-06-05 10:50] jakeret commented on #42
@lukaszbinden this sounds interesting. Would Tue 26th work for you? If so, could you provide us a talk title and a short abstract?

[2018-06-06 14:21] mrastan commented on #42
## Opportunities and obstacles for AI adoption from the industry perspective (10 mins)
In this talk we will discuss opportunities, obstacles and lessons learned from working with some of the most prominent non-digital native industries.  We will unveil the biggest challenges the companies struggle with while adopting AI and factors that lead to success.

## Engineering for good - using Deep Learni

[2018-06-08 08:30] jakeret opened #44 "September meetup"
Let's schedule a meetup towards the end of September:

### Speakers
- tbd

### Date
- tbd

### Location
- tbc

[2018-06-08 08:31] jakeret commented on #42
As you might have already seen I've scheduled the meetup for the 26th of june.

@lukaszbinden I would propose that we reschedule your talk to september (#44).

@mrastan would it be possible for Marcin to extend the talk a bit to ~20min?

[2018-09-25 06:15] jakeret opened #45 "November Meetup"
Let's define the PyData meetup in November:

### Speakers
- Hendrik Schöneberg (@hensb)
- Joel Akeret (@jakeret)
- ?

### Date
- 01. November 2018

### Location
- Zühlke Engineering, Schlieren

[2018-09-25 06:18] jakeret commented on #45
@lukaszbinden quite some time has passed since you offered to give a talk. Do you happen to have time on the 1st of november?

@hensb could you provide an abstract for your talk (20-30min) that we can put online on our meetup page?

[2018-09-26 12:51] lukaszbinden commented on #45
@jakeret let me discuss with my collegue and respond till Monday

[2018-10-01 13:58] jakeret commented on #45
From PoC to Prod: Operationalization of machine learning

We see a wide adoption of Data Analytics and Machine Learning in various industry sectors. Many very promising model prototypes are being developed but only few manage to move from research-like projects into productive systems, causing frustration both on business and data scientist side. In my talk I will explore possible reasons for this

[2018-10-01 15:18] hensb commented on #45
Data Analytics Platform in the Cloud

The rise of Data Analytics applications requires new architectures enabling the work of Data Scientists while being capable of processing large volumes and varieties of data. Building such a platform in the cloud comes with many challenges: There is a plethora of decisions to make, vendors to compare and design principles, services and products to choose from.

[2018-11-02 07:54] jakeret commented on #45
@lukaszbinden @hensb could you guys upload your slides to our [repo](https://github.com/pydatazrh/meetup/tree/master/Meetup10)

[2018-11-05 08:07] jakeret opened #49 "January Meetup"
Let's schedule a meetup towards the end of January:

### Speakers
- ???

### Date
- xx.01.2019

### Location
- Digicomp (???)

[2018-11-06 09:23] enryH opened #50 "December Meetup"
Proposals:

Talk1: RASA Stack
Basic Layout und functionality of RASA NLU and RASA CORE.

Talk2: Decomposing Feed Forward Neural Networks using Deep Taylor Decomposition.
Neural Networks are often seen as a black box. One possibility for explaining the model is to decompose the model score to the inputs. Central ideas and applications in computer vision and bioinformatics will be presented.

Depend

[2018-11-06 11:19] betatim commented on #50
Hey 👋!

We were planning to have the next meetup in January, let's see what others think about having on before Christmas (scheduling and location wise).

Which of these talks would you like to give?

For the RASA talk could we have a focus on building a chat bot (or some other application) implemented using RASA? Just a suggestion to make it more of a talk where people will learn something genera

[2018-11-06 12:44] enryH commented on #50
Hey Tim,
it is just two proposal. I just followed Joel's advice and proposed them:)

If you want a RASA Tutorial it is fine. I do not work for them, and yes, I know them from  the PyData Berlin Conference. Its the only completly open source tool to build chatbots I know of. I am prototyping with it and it would be not a too big effort to adapt a tutorial.

Although it would cover RASA Stack, I wou

[2018-11-06 14:49] betatim commented on #50
Thanks for the reply :) I wasn't sure who you were and the context of your comment so I wanted to find out more.

Personally I'd be quite interested in hearing about RASA and how to get started with it (so like a 20min talk) or follow a whole tutorial to build a small bot myself. (Their website uses mybinder.org for the interactive examples and as I run mybinder.org they keep popping up on my rada

[2018-12-03 09:47] erikfrojdh commented on #49
How are things going with planning the January meetup? Did you select speakers or settled on a theme yet?

[2018-12-03 14:39] jakeret commented on #49
We haven't settled on a particular topic.

@enryH offered to give a talk on RASA conversational agent. Otherwise, we are still looking for speakers

[2018-12-12 15:18] erikfrojdh commented on #49
At some point having "Python in Science" as topic would be interesting. I know there are a few attendees from universities/research centers...

If there is a lack of speakers I could give a talk on writing fast code using pybind11, practical matplotlib or give an overview what I'm doing at PSI with Python as an interface for our C++ control program and deployment using conda  but that might tailor

[2018-12-12 17:49] jakeret commented on #49
Personally, I find all three topics very interesting in particular how PSI is handling its deployment. This could be very relevant to a wider DS audience.
On one hand it has proven to be rather difficult to find multiple speakers for a specific topic - hence having a talk on RASA and PSI would fit quite well in how things have been working so far. On the other hand having a dedicated "Python in Sc

[2018-12-12 18:03] kmader commented on #49
I know a group at ETH that also does quite a bit of the pybind stuff, I'll ping them

[2018-12-13 08:00] betatim commented on #49
I asked twitter to find out if I know someone.

I liek the idea of putting together a science themed meetup.